<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="../../../../assets/img/instagram.png" width="170" height="34" alt=""></a>
    <div class="d-flex">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a routerLink="/main" class="nav-item active text-decoration-none text-dark">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a href="" class="nav-item active text-decoration-none text-dark">New</a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a href="" class="nav-item active text-decoration-none text-dark">My profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
